@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

:root {
  --display-font: 'Amatic SC', cursive;
  --body-font: 'Amatic SC', cursive;

  --white: rgb(245, 245, 245);
  --black: rgb(21, 53, 74, 0.8);
  --black-transparent: rgb(21, 53, 74, 0.5);
  
  --primary: #334355;
  --primary-transparent: rgba(51, 67, 85, .75);
  --secondary: none;
  --accent: none;
  
  --light-grey: hsl(0, 0%, 90%);

  --mobile: 576px;
  --tablet: 768px;
  --desktop: 992px;
  --wide: 1200px;
  
  --grid: minmax(15px, 1fr) minmax(0, 80%) minmax(15px, 1fr);
  --banner-padding-mobile: 1.5rem 0 2rem 0;
  --banner-padding-desktop: 2.5rem 0 3rem 0;
  --section-padding-mobile: 3rem 0 3.5rem 0;
  --section-padding-desktop: 3.5rem 0 5rem 0;
  
  --shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.075);
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--body-font);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 0.9rem/1.25rem;
  margin-bottom: 0.85rem;
  color: darkslategrey;
}

ul {
  list-style-type: none;
}